@import '../../../scss/mixins';

.label {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);

  &:hover+.pseudoInput {
    border: 2px solid #A4FFAF;
  }

  &:checked+.pseudoInput {
    background: #A4FFAF no-repeat center url('../../../assets/images/icon-check.svg');
    border: none;
  }
}

.pseudoInput {
  width:20px;
  height:20px;
  border: 2px solid #E6E5EA;
  cursor: pointer;
  box-sizing: border-box;
  background: transparent;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #E6E5EA;

  @include mobile {
    font-size: 16px;
    line-height: 21px;
  }
}