@import '../../../scss/mixins';

.button {
  width: 100%;
  padding: 21px 0;
  display: flex;
  justify-content: center;
  background: #A4FFAF;
  border: none;
  box-sizing: border-box;
  color: #24232C;
  border: 2px solid transparent;
  cursor: pointer;

  &:hover {
    background: transparent;
    border: 2px solid #A4FFAF;
  }

  &:hover * {
    fill: #A4FFAF;
    color: #A4FFAF;
  }

  &_disabled {
    background: #817D92;
    opacity: 0.1;
    cursor: default;
    pointer-events: none;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  font-size: 18px;
  line-height: 24px;

  @include mobile {
    font-size: 16px;
    line-height: 21px;
  }
}
