body {
  margin: 0;
  font-family: Mono, sans-serif;
  background: #18171F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Mono';
  font-style: normal;
  src: url(./assets/fonts/JetBrainsMono-VariableFont_wght.ttf) format('truetype-variations'),
  url(./assets/fonts/JetBrainsMono-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Mono';
  font-style: italic;
  src: url(./assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf) format('truetype-variations'),
  url(./assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf) format('truetype');
}